<div>{{username}}</div>
<ul>
 {{#books}}
  <li>父级{{../username}}的值为{{title}}</li>
{{/books}}
</ul>
{{{tko}}}

{{#if books.length}}
	<ul>
		{{#each books}}
			<li>{{this.title}}</li>
		{{/each}}
	</ul>
{{/if}}